{{#results}}
    <h2>Videos</h2>
    {{#videos}}
        id: {{id}}<br>
        title: {{title}}<br>
    {{/videos}}
    <h2>Channels</h2>
    {{#channels}}
        id: {{id}}<br>
        title: {{title}}<br>
    {{/channels}}
    <h2>Playlist</h2>
    {{#playlists}}
        id: {{id}}<br>
        title: {{title}}<br>
    {{/playlists}}
{{/results}}