<form method="GET">
    <div>
        Search Term: <input type="search" id="q" name="q" placeholder="Enter Search Term">
    </div>
    <div>
        Max Results: <input type="number" id="maxResults" name="maxResults" min="1" max="50" step="1" value="25">
    </div>
    <input type="submit" value="Search">
</form>