{{>header}}
{{#login}}{{>common/login}}{{/login}}
{{#logout}}{{>common/logout}}{{/logout}}
{{#search}}{{>youtube/search}}{{/search}}
{{#key_form}}{{>credentials/key_form}}{{/key_form}}
{{#list}}{{>youtube/list}}{{/list}}
{{>footer}}