
    <h2>Yours Google Plus Details</h2>
        id: {{results.id}}<br>
        name: {{results.name}}<br>
        email: {{results.email}}<br>
        url: {{results.profile_url}}<br>
        image: <img src="{{results.profile_image_url}}"><br>
